name: Book

on:
  push:
    branches: [ main ]
    paths:
      - "book/**"
      - "CHANGELOG.md"
      - "LICENSE.md"
      - "README.md"
      - ".github/workflows/book.yml"
  pull_request:
    branches: [ main ]
    paths:
      - "book/**"
      - "CHANGELOG.md"
      - "LICENSE.md"
      - "README.md"
      - ".github/workflows/book.yml"

env:
  CARGO_TERM_COLOR: always

jobs:
  book:
    name: Book
    runs-on: ubuntu-latest
    strategy:
      matrix:
        mdbook-version: [ "0.5.1", "latest" ]
    steps:
      - uses: actions/checkout@v6
        with:
          fetch-depth: 0
      - name: Install rust toolchain
        uses: dtolnay/rust-toolchain@stable
      - name: Setup mdBook
        uses: peaceiris/actions-mdbook@v2
        with:
          mdbook-version: ${{ matrix.mdbook-version }}
      - name: Install preprocessor mdbook-preprocessor-graphql-playground
        uses: taiki-e/cache-cargo-install-action@v3
        with:
          tool: mdbook-preprocessor-graphql-playground
          git: https://github.com/aschaeffer/mdbook-preprocessor-graphql-playground
          rev: ae45175665085f8924ca06354c56cf00c4698c6b
      - name: Build Book
        working-directory: ./book
        run: mdbook build
      - name: Deploy
        uses: peaceiris/actions-gh-pages@v4
        if: ${{ github.ref == 'refs/heads/main' }}
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./book/book
